/* Align every text in the middle and giving each text the font Helvetica */
body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

/*Adding the background image to the header section and headline of "Designed in NY" */
#header,
#design_ny_head {
  background-image: url("../images/the-flatiron-building.png");
}

#header a {
  font-size: 18px;
}

/*Styling the Footer section */
#footer {
  background: dimgray;
  text-align: left;
}


a,
h1,
#design_ny_head,
#footer {
    color: white;
}

#copyright {
  font-size: 11px;
}
